DB_HOST="127.0.0.1"
DB_DATABASE="xxx"
DATABASE_URL="postgres://userName:password@serverName/ip:port/nameOfDatabase"
DB_PORT=5432
DB_USER="postgres"
DB_PASSWORD="12345678"
NODE_ENV = "develop"
API_KEY=
TOKEN_MERCADO_PAGO = "APP_USR-837041433422983-120200-37e18910a704d7ea30b911e6ce728c07-1030969381"
